@using ShoppingOnline.Models;
@model InfoProduct

@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Views/Shared/AdminHeader-Footer.cshtml";
}
<
<div class="right">
    <div class="right__content">
        <div class="right__title">Bảng điều khiển</div>
        <p class="right__desc">Chèn danh mục</p>
        <div class="right__formWrapper">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="right__inputWrapper">
                    <label for="title">Tên sản phẩm</label>
                    <input type="text" name="NameProduct" placeholder="Tên sản phẩm" />
                </div>
                <div class="right__inputWrapper">
                    <label for="p_category">Hãng sản xuất</label>
                    <select name="ManufacturerId">
                        <option disabled selected>Chọn danh mục</option>
                        @foreach (var item in Model.ManufacturerViewModel)
                        {
                            <option value="@item.ManufacturerId"> @item.ManufacturerName</option>
                        }
                    </select>
                </div>
                <div class="right__inputWrapper">
                    <label for="p_category">Cấu hình</label>
                    <select name="RamId">
                        <option disabled selected>Chọn danh mục</option>
                        @foreach (var item in Model.RamViewModel)
                        {
                            <option value="@item.RamId">@item.Memory GB</option>
                        }
                    </select>
                    <select name="RomId">
                        <option disabled selected>Chọn danh mục</option>
                        @foreach (var item in Model.RomViewModel)
                        {
                            <option value="@item.RomId">@item.Space GB</option>
                        }
                    </select>
                </div>
                <div class="right__inputWrapper">
                    <label for="image">Hình ảnh 1</label>
                    <input type="file" multiple="multiple" name="ImgFile" class="form-control" id="selectedFile" style="display: none;" />

                    <img src="" alt="Product image" id="imagePreview" style="width: 5rem; height: 5rem; display:none; margin-bottom:0.5rem" />

                    <input type="button" value="Browse" onclick="document.getElementById('selectedFile').click();" style="display:block" />
                </div>
                <div class="right__inputWrapper">
                    <label for="p_category">Áp dụng giảm giá</label>
                    <select name="DiscountId">
                        <option disabled selected>Chọn danh mục</option>
                        @foreach (var item in Model.DiscountViewModel)
                        {
                            <option value="@item.DiscountPercent"> @item.DiscountPercent</option>
                        }
                    </select>
                </div>
                <div class="right__inputWrapper">
                    <label for="title">Giá sản phẩm</label>
                    <input type="number" placeholder="100 000 000" name="Price" />
                </div>
                <div class="right__inputWrapper">
                    <label for="desc">Mô tả</label>
                    <textarea name="note"
                              id=""
                              cols="30"
                              rows="10"
                              placeholder="Mô tả"></textarea>
                </div>
                <button class="btn" type="submit">Chèn</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#selectedFile").change(function () {
        $("#imagePreview").attr('src', URL.createObjectURL(this.files[0]));
        $("#imagePreview").css('display', 'block')
    }
    )
</script>