@model IEnumerable<ShoppingOnline.Models.User>

@{
    ViewData["Title"] = "Customers Page";
    Layout = "~/Views/Shared/AdminHeader-Footer.cshtml";
}

<div class="right">
    <div class="right__content">
        <div class="right__title">Bảng điều khiển</div>
        <p class="right__desc">Danh sách khách hàng</p>
        <div class="right__table">
            <div class="right__tableWrapper">
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            @*<th style="text-align: center;">Hình ảnh</th>*@
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Địa chỉ</th>
                            <th>Xoá</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-label="STT">@Html.DisplayFor(modelItem => item.UserId)</td>
                                @*<td data-label="Hình ảnh" style="text-align: center;"><img style="width: 50px;height: 50px; border-radius: 100%; object-fit: cover;" src="~/assets//profile1.jpg" alt=""></td>*@
                                <td data-label="Tên">@Html.DisplayFor(modelItem => item.FristName) @Html.DisplayFor(modelItem => item.LastName)</td>
                                <td data-label="Email">@Html.DisplayFor(modelItem => item.Email)</td>
                                <td data-label="Phone">@Html.DisplayFor(modelItem => item.Phone)</td>
                                <td data-label="Địa chỉ">Cà Mau</td>
                                <td data-label="Xoá" class="right__iconTable"><a href=""><img src="~/assets//icon-trash-black.svg" alt=""></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
