@model IEnumerable<ShoppingOnline.Models.Discount>

@{
    ViewData["Title"] = "Danh sách mã giảm giá";
    Layout = "~/Views/Shared/AdminHeader-Footer.cshtml";
}
<div class="right">
    <div class="right__content">
        <div class="right__title">Bảng điều khiển</div>
        <p class="right__desc">Xem mã giảm giá</p>
        <div class="right__table">
            <div class="right__tableWrapper">
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã giảm giá</th>
                            <th>% Giảm giá</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Giới hạn</th>
                            <th>Đã dùng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-label="STT">@item.DiscountId</td>
                                <td data-label="Mã giảm giá">@item.DiscountCode</td>
                                <td data-label="% Giảm giá">@item.DiscountPercent %</td>
                                <td data-label="Thời gian bắt đầu">@item.StartDate</td>
                                <td data-label="Thời gian kết thúc">@item.EndDate</td>
                                <td data-label="Giới hạn">@item.Amount</td>
                                <td data-label="Đã dùng">@item.Used</td>

                            </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>